/* Footer */
.footer-joker {
    position: relative;
    width: 100%;
    background: orange;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
}

.icon {
    color: white;
    font-size: 50px;
    display: inline-block;
    margin: 0 10px;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu-footer {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
}

.menu-icon {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.textjk {
    color: #fff;
    text-align: center;
    margin-top:15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.container-maximo {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
