* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titulos-h2{
    font-size: 40px;
    color: orange;
    margin-left: 100px;
    margin-top: 20px;
}
.nosotrosq{
    font-size: 25px;
    font-weight:bolder;
    text-align: left;
}
.titulos-h2-5{
    font-size: 40px;
    color: orange;
    margin-top: 20px;
}
