/* Sedes */
.grid-contenido {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius:4px ;
    padding: 10px;
    text-align: center;
}

.sedes-titulo {
    grid-area: sedes-titulo;
    margin: 10px 20px;
}

.sedes-titulo h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sedes-listas-desplegables {
    grid-area: sedes-listas-desplegables;
    width: 380px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    margin-right: 10px;
    font-weight: bold;
}

form select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#submit {
    padding: 10px 80px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px 10px 0 0;
    cursor: pointer;
    align-self: flex-start;
}

#submit:hover {
    background-color: #0056b3;
}

@media (min-width: 600px) {
    form {
        flex-direction: row;
    }

    .sedes-listas-desplegables {
        width: 1300px;
    }
}

.sedes-todas{
    grid-area: sedes-todas;
    background-color: cornflowerblue;
}

.sedes-mapa{
    grid-area: sedes-mapa;
    display: flex;
    justify-content: start;
  
}


.grid-contenido{
    display: grid;
    gap: 10px;
    grid-template: 
    "sedes-titulo" 170px
    "sedes-listas-desplegables" 200px
    "sedes-todas" auto
    "sedes-mapa" auto;
}

@media (min-width:600px){
    .grid-contenido{
    /*grid-template-columns: 300px auto;
    grid-template-rows: 50px 50px auto;
    grid-template-areas: 
    "sedes-titulo sedes-titulo"
    "sedes-listas-desplegables sedes-listas-desplegables"
    "sedes-todas sedes-mapa" ;*/

    grid-template:
    "sedes-titulo sedes-titulo" 130px
    "sedes-listas-desplegables sedes-listas-desplegables" 70px
    "sedes-todas sedes-mapa" auto / 
    400px auto;
    }   
}
